*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: fantasy;
	list-style: none;
}
center{
	position: relative;
	margin: 20px auto;
	width: 600px;
	height: 60px;
	text-align: center;
	background: greenyellow;
	color: black;
	font-weight: bold;
	line-height: 60px;
	border: 5px solid darkgreen;
	border-radius: 50px;
}
#CuadroCalculadora{
	margin: 20px auto;
	position: relative;
	width: 400px;
	height: 545px;
	border: 5px solid;
	border-radius: 15px;
	background: #666666;
}
#resultado{
	position: relative;
	margin: 20px auto;
	width: 380px;
	height: 50px;
	text-align: right;
	line-height: 50px;
	font-size: 50px;
	border: solid;
	background: skyblue;
}


#CuadroCalculadora ul li{
	float: left;
	position: relative;
	width: 50px;
	height: 50px;
	background: #8c8c8c ;
	border: solid;
	margin: 20px ;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	left: 10px;
}
#Borrar{
	position: relative;
	width: 380px;
	height: 50px;
	border: 5px solid;
	border-radius: 15px;
	background: #8c8c8c;
	float: left;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	left: 5px;
}
#CuadroCalculadora ul li:hover{
background: #b5b5b5;
color: black;
}
#CuadroCalculadora ul li:active{
background: gray;
}
#Borrar:hover{
background: #b5b5b5;

}
#Borrar:active{
background: #8c8c8c;
}
